{% extends "base.html" %}
{% block title %}The Rabbit Hole{% endblock %}

{% block content %}

<body id="landing_body" background="{{ url_for('static', filename='landing_bg.jpg') }}"> 

<!-- TODO mention in documentation that we use accesibility functions like 'alt' -->
<a href="/enter"><img id="downy" src="{{ url_for('static', filename='downy2.gif') }}" class="center" alt=" 'Down The Rabbit Hole' animated pixel-art text that shifts down and disappears on a loop."></a>

</body>

{% endblock %}