{% extends "base.html" %}

{% block title %}Where Shall You Go{% endblock %}

{% block content %}

<body style="background-color: black; height: 100%;" background="{{ url_for('static', filename='options.jpg') }}">

  <!-- TODO crop images -->
  
<ul>
<!-- <li>
  <a href="/music"><img id="music" class="options_img" style="margin:150px; padding:150px;" src="{{ url_for('static', filename='music-small.png') }}" alt="drawing of a violin to represent the music option" ></a>
</li>
<li>
  <a href="/art"><img id="art" class="options_img" style="margin:150px; padding:150px;" src="{{ url_for('static', filename='art-small.png') }}" alt="drawing of a painting to represent the art option"></a>
</li>
<li>
  <a href="/tech"><img id="tech" class="options_img" styel="margin:150px; padding:150px;" src="{{ url_for('static', filename='tech-small.png') }}" alt="drawing of a phone to represent the technology option"></a>
</li> -->
<li>
  <a href="/literature"><img id="lit" class="options_img" style="margin:150px; padding:150px;"src="{{ url_for('static', filename='lit-small.png') }}" alt="drawing of an open book with a bookmark to represent the literature option"></a> 
</li>
</ul>

</body>

{% endblock %}